{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

<div class="text-center">

    <!--<img alt="Search" src="bird.jpeg"> -->

    <form action="" class="mt-4" method="post"> <!--https://twitter.com/search-->
        <input autocomplete="off" autofocus class="form-control form-control-lg mb-4 mx-auto w-50" id="keyword" name="keyword" placeholder="Search by keyword" type="text">
        <button class="btn btn-primary" type="submit">Twitter Search</button>
    </form>

</div>

{% endblock %}

